OPENAI_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
LANGSMITH_PROJECT="demo"
PLANNER_MODEL=gpt-4o
PLANNER_TEMPERATURE=0.0
WRITER_MODEL=gpt-4o
WRITER_TEMPERATURE=0.7
JUDGE_MODEL=gpt-4o-mini
JUDGE_TEMPERATURE=0.0
EDITOR_MODEL=gpt-4o
EDITOR_TEMPERATURE=0.4